{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
  <div class="row text-center login-page">
	  <div class="col-md-12 login-form">
	      <form  method="post">
	        <div class="row">
		        <div class="col-md-12 login-form-header">
		          <p class="login-form-font-header">JAGUARETE <span>KAA S.A.</span><p>
		        </div>
		      </div>
		        <div class="col-md-12">
              <img src="https://image.flaticon.com/icons/png/512/152/152533.png" class="card-img-top" style="width: 45.5%;">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="row">
                <div class="col-md-12 login-from-row">
                  <button class="btn btn-primary" type="submit">LogIn</button>
                </div>
              </div>
              <div class="forgot"> <a href="#">Forgot your password?</a> </div>
              <div>
              </div>
            </div>
	      </form>
	  </div>
  </div>
</div>
{% endblock %}